// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header-link {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.movie-card {
  padding: 20px 0 20px 0;
  border-bottom: 1px #dbdbdb solid;
}

.review-poster {
  img {
    padding-bottom: 20px;

  }
}

.poster-card {
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
}

.media-body {
  div {
    p {
      width: 80%;
    }
  }
}

.background {
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.95);
  background-blend-mode: lighten;
}

.comment-container {
  .card {
    margin-top: 20px;
    width: 100%;
  }
}