
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.header-link{
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.movie-card{
  padding: 20px 0 20px 0;
  border-bottom: 1px #dbdbdb solid;
}